* {
  --background: #FFF7E9;
  --text: #1746A2;
  --accent: #FF731D;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  color: var(--text);
  background-color: var(--background);
  line-height: 1.6rem;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
}

h1 {
  font-size: 3rem;
}

b,
em {
  color: var(--accent);
}

nav>a {
  margin-right: 0.5rem;
  color: var(--text);
}

header,
footer,
main {
  padding: 1rem;
}

form {
  text-align: center;
  padding: 1rem;
}

form>input {
  font-size: 2rem;
  margin-right: 1rem;
}

.shows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  padding: 10px;
}

.gallery-image {
  width: 25%;
  margin: 2px;
  transition: all .5s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.show-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
}

.filter-controls {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.show-card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 80%;
  border: 1px solid var(--text);
  border-radius: 10px;
  margin: 0.5rem;
}

.show-card>div {
  margin: 1rem;
}

.show-card img {
  max-width: 10rem;
}

.show-card h2 {
  margin-top: 0rem;
}

.active {
  text-decoration: underline;
  color: rgb(255, 150, 13);
}